body{
  margin:0px;
  font-family:Arial, Helvetica, sans-serif; 
  color:#194969; 
  font-weight:bold;
}

.page-header{
    background-color:mediumaquamarine;
    color:#fff;
    /* text-align:center; */
    height:auto;width:auto;
    margin: 0px;
    padding:20px 40px;
    font-weight: bold;
    font-size: 150%;
    text-shadow:2px 3px 5px #124c36;
}

.article-header{
  vertical-align: center;
  background-color:rgb(202, 246, 231);
  border-top:10px solid;
  border-image:linear-gradient(to left,mediumaquamarine,rgb(37, 126, 97));
  border-image-slice: 1;
  padding:10px 50px;
  text-align:left;
}

main{
  display:flex;
  width:auto;
  margin-bottom: 10px; 
}

.input-container{width:30%}

.song{
  margin-bottom:5%;
  padding:5% 5% 2% 10%;
}

.idol,.appeal_pskill, .option {
  padding:2% 5% 2% 10%;
  margin-bottom:5%;
}
#start_button{
  background-color:#a8f5dc;
  text-align:center; 
  padding:2%; 
  margin: 5% 1% 5% 75%;
  cursor: pointer;
}

.result-container{
  padding: 30px;
  width:auto;
}

#loading{
  display:none;
}

#status_message {
  position: relative;
  left: 50%;
  top: 65%;
  color:#737a78;
}

#loader {
  position:relative;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3; /* グレーの外枠 */
  border-top: 16px solid #338770; /* 青色の内側 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* アニメーションを追加 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#input-table,#result-table {
  border-collapse: collapse;
  font-weight: normal;
  font-size: 80%;
  white-space:nowrap;
}

th{
  background-color:#c1d7d1;
  text-align: center;
  padding:5px 10px 5px 10px;
}
td{
  padding:5px 10px 5px 10px;
}

footer{
  margin:0px;
  font-size:80%;
  font-weight: normal;
  background:linear-gradient(to right,#b1c9e3,#dceaf8);
  border-top:10px solid;
  border-image:linear-gradient(to left,#97bee7, #043c78);
  border-image-slice: 1;
  padding:10px;
  width:100%;
  text-align:center;
  position: relative;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
li{
  list-style:none;
  margin:0px;
}
.precaution{
  font-size:50%;
  margin:auto;
}

@media (max-width: 767px) { 
  *{font-size:10px;}
  .page-header{
    padding:10px;
    font-weight: bold;
    font-size: 150%;
    text-shadow:2px 3px 5px #124c36;
  }
  .article-header{
    border-top:5px solid;
    padding:10px;
  }
  main{display:block;}
  .input-container{width:auto}

  .song,.idol,.appeal_pskill, .option{
    margin-bottom:1%;
  }

  .precaution{
    font-size:30%; 
    padding:5px;
  }
}

