/* @charset = "utf-8"; */
.page-header{
    background-color:mediumaquamarine;
    color:#fff;
    /* text-align:center; */
    height:auto;width:auto;
    margin: 0px;
    padding:20px 40px;
    font-weight: bold;
    font-size: 150%;
    text-shadow:2px 3px 5px #124c36;
}
article{width:50%}
.article-header{
    vertical-align: center;
    background-color:rgb(202, 246, 231);
    border-top:10px solid;
    border-image:linear-gradient(to left,mediumaquamarine,rgb(37, 126, 97));
    border-image-slice: 1;
    padding:10px 50px;
    text-align:left;
}

body{
  margin:0px;
  font-family:Arial, Helvetica, sans-serif; 
  color:#194969; 
  font-weight:bold;
}

main{display:flex; }

.song{
  margin-bottom:5%;
  padding:5% 5% 2% 10%;
}
.idol,.appeal_pskill, .option {
  padding:2% 5% 2% 10%;
  margin-bottom:5%;
}
#start_button{
  background-color:#a8f5dc;
  text-align:center; 
  padding:2%; 
  margin: 5% 1% 5% 75%;
  cursor: pointer;
}

.description{
  display:none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: gray;
  width: 250px;
}
.description:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  border: 15px solid transparent;
  border-top: 15px solid gray;
  margin-left: -15px;
  /* transform: rotateZ(90deg); */
}
.hint:hover .description{
  display: inline-block;
  top: -150%;
  left: -10%;
}

.result-container{
  padding: 30px;
  width:50%;
}
#result{
  padding:5%;
}
#loading{
  display:none;
}

#loader {
  position:relative;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3; /* グレーの外枠 */
  border-top: 16px solid #338770; /* 青色の内側 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* アニメーションを追加 */
}
#status_message {
  position: relative;
  left: 50%;
  top: 65%;
  color:#737a78;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

