/* @charset = "utf-8"; */
.page-header{
    background-color:mediumaquamarine;
    color:#fff;
    /* text-align:center; */
    height:auto;width:auto;
    margin: 0px;
    padding:20px 40px;
    font-weight: bold;
    font-size: 150%;
    text-shadow:2px 3px 5px #124c36;
}
/* .article{padding:30px} */
.article-header{
    vertical-align: center;
    background-color:rgb(202, 246, 231);
    border-top:10px solid;
    border-image:linear-gradient(to left,mediumaquamarine,rgb(37, 126, 97));
    border-image-slice: 1;
    padding:10px 50px;
    text-align:left;
}
/* header{
  color:#196053; 
  background-color: #a8f5dc; 
  margin-bottom:3%; 
  padding: 0.1% 0% 0.1% 3%; 
  border-bottom: solid 3px #196053
}  */
body{
  margin:0px;
  font-family:Arial, Helvetica, sans-serif; 
  color:#194969; 
  font-weight:bold;
}

main{display:flex; }

.song{
  margin-bottom:5%;
  padding:5% 5% 2% 10%;
}
.idol,.appeal_pskill, .option {
  padding:2% 5% 2% 10%;
  margin-bottom:5%;
}
#start_button{
  background-color:#a8f5dc;
  text-align:center; 
  padding:2%; 
  margin: 5% 1% 5% 75%;
  cursor: pointer;
}

.description{
  display:none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: gray;
  width: 250px;
}
.description:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  border: 15px solid transparent;
  border-top: 15px solid gray;
  margin-left: -15px;
  /* transform: rotateZ(90deg); */
}
.hint:hover .description{
  display: inline-block;
  top: -150%;
  left: -10%;
}


