{% extends 'layout.html' %}
{% block content %}
	<header>
    <h1>サイスタアイドルフォトリスト</h1>
	</header>
	<p>　最終更新日： 2022/10/30 </p><p></p>
	<article>
		当サイトは「アイドルマスターSideM GROWING STARS」のユーザーによるファンサイトです。<br>
			「アイドルマスターSideM GROWING STARS」および株式会社バンダイナムコエンターテインメントとの関連性はありません。<br>
			<!-- 　※当サイトの内容の二次利用の際には、引用として当サイトのリンクを添付ください。<br> -->
			　※当サイトで使用している画像の著作権は株式会社バンダイナムコエンターテインメントに帰属します。
	</article>
		<p></p>
		<p>　<a href="https://wikiwiki.jp/sidem-gstars/">データ引用元：サイスタwiki様</a></p>
		<p></p>
		<p>　<a href="/form">画像提供ご協力のお願い</a></p>
			
		<!-- <a href="/songlist">楽曲の略称リストはこちら</a><br>
		<a href="/">入力画面へ戻るにはこちら</a> -->

    <table id = 'sampleTable'>
		<thead>
			<tr>
				{% for i in idolheader: %}
				<th cmanFilterBtn scope="col" class = "fixedcolumn">{{ i }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in idoldata: %}
			<tr>
				{% for j in i: %}
					{% if 'idol_' in j | string : %}
					<!-- <td>認識</td> -->
						<td><img class="idol_icon" src="{{url_for('static', filename='img/idol/'+j)}}"  alt= {{j}} ></td>
					{% else: %}
						<td>{{ j }}</td>
					{% endif %}

				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <script src="../static/make_filter.js"></script>
    <p></p>
    
{% endblock %}