{% extends 'layout.html' %}
{% block content %}
	<header>
    <h1>サイスタスコア計算機用　曲名略称リスト</h1>
	</header>
    <p> 最終更新日： 2022/10/18 </p>
		<a href="/idollist">アイドルリストはこちら</a>
		<a href="/">入力画面へ戻るにはこちら</a>

    <table id = 'sampleTable'>
		<thead>
			<!-- {{ songlist }} -->
			<tr>
				{% for i in songheader: %}
				<th cmanFilterBtn scope="col" class = "fixedcolumn">{{ i }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for i in songdata: %}
			<tr>
				{% for j in i: %}
					{% if 'song_' in j | string : %}
					<!-- <td>認識</td> -->
						<td><img src="{{url_for('static', filename='img/song/'+j)}}" class="song_icon" alt= {{j}} ></td>
					{% else: %}
						<td>{{ j }}</td>
					{% endif %}

				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <script src="../static/make_filter.js"></script>
    <p></p>
    <a href="https://wikiwiki.jp/sidem-gstars/">データ引用元：サイスタwiki</a>
{% endblock %}